<h1><%= @user.name %>さんのお気に入り一覧</h1>

<% @favorites.each do |favorite| %>
  <div class="favorite">
    <h2><%= link_to favorite.picture.caption, favorite.picture %></h2>
    <p>Posted by <%= favorite.picture.user.name %></p>
    <td><%= image_tag favorite.picture.image.url if favorite.picture.image.present? %></td>
  </div>
<% end %>

 <%= link_to '投稿一覧に戻る', pictures_path %>
