<h1>写真一覧</h1>

<%= link_to '新規投稿', new_picture_path %>
<%= link_to 'お問い合わせ', new_contact_path %>
<%= link_to 'お気に入り一覧', favorites_user_path(current_user) %>

<table>
  <thead>
    <tr>
      <th>写真</th>
      <th>コメント</th>
      <th>投稿者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= image_tag picture.image.url if picture.image.present? %></td>
        <td><%= picture.caption %></td>
        <td><%= picture.user.name %></td>
        <td><%= link_to '詳細', picture %></td>
        <% if @current_user == picture.user %>
          <td><%= link_to '編集', edit_picture_path(picture) %></td>
          <td><%= link_to '削除', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td>
        <% if picture.favorited_users.include?(current_user) %>
        <%= link_to 'お気に入り削除', picture_favorite_path(picture, picture.favorites.find_by(user: current_user)), method: :delete %>
        <% else %>
          <%= link_to 'お気に入り登録', picture_favorites_path(picture), method: :post %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
